/* Blog */
	/* Main */
		.blog {
			display: block;
			width: 100%;
			height: auto;
			box-sizing: border-box;
			padding-top: 0px;
		}

		.blog .item {
			position: relative;
			box-sizing: border-box;
			margin-top: 20px;
			margin-top: 10px;
			padding: 6px;
		}


		.blog .item .body {
			box-sizing: border-box;
			padding: 0 0 25px;
			background-color: #fff; 
			border: 1px solid #eee;
    		box-shadow: 0px 0px 3px rgba(31,31,31,0.1);

			-webkit-transition: all 0.4s;
			-moz-transition: all 0.4s;
			-ms-transition: all 0.4s;
			-o-transition: all 0.4s;
			transition: all 0.4s;

			-webkit-transform: translateY(0px);
			transform: translateY(0px);
		}
		.blog .item:hover .body {
			border: 1px solid #eee;
    		box-shadow: 0px 0px 15px rgba(31,31,31,0.1);
		}


		.blog .item .body .caption {
			display: block;
			width: 100%;
			height: auto;
			min-height: 230px;
			box-sizing: border-box;
			padding: 0 15px;
		}

		.blog .item img{
			display: block;
			width: 100%;
			height: auto;
		}

		.blog .item .content{
			display: block;
			width: 70%;
			height: auto;
			margin: 0 auto;
		}

		.blog .item .content h1 {
			margin: 0;
		}

		/* View */
			.blog .item  a.view{
				position: absolute;
				top: 135px;
				left: 0;
				right: 0;
				margin-left: auto;
				margin-right: auto;
				width: 50px;
				height: 50px;
				border-radius: 50px;
				background-color: rgba(0,168,180,0.8);
				text-align: center;

				opacity: 0;
				
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-ms-transition: all 0.3s;
				-o-transition: all 0.3s;
				transition: all 0.3s;
				
				-webkit-transform: scale(0,0);
				-moz-transform: scale(0,0);
				-ms-transform: scale(0,0);
				-o-transform: scale(0,0);
				transform: scale(0,0);
			}

			.blog .item:hover a.view{
				opacity: 1;
				
				-webkit-transform: scale(1,1);
				-moz-transform: scale(1,1);
				-ms-transform: scale(1,1);
				-o-transform: scale(1,1);
				transform: scale(1,1);
			}

			.blog .item  a.view > i{
				margin-bottom: 10px;
				font-size: 40px;
				line-height: 60px;
				color: #fff;
			}
		/* View */
	/* Main */

	/* Blog item */
		.blog-item {
			display: block;
			width: 100%;
			height: auto;
		}

		.blog-item > img {
			width: 100%;
			height: auto;
		}

		.blog-item .btn.facebook { background-color: rgba(59,89,152,1);  border-color: rgba(59,89,152,1); margin-top: 10px; min-width: auto; padding-left: 15px; padding-right: 15px; }
		.blog-item .btn.twitter { background-color: rgba(29,161,242,1);  border-color: rgba(29,161,242,1); margin-top: 10px; min-width: auto; padding-left: 15px; padding-right: 15px; }
		.blog-item .btn.googleplus { background-color: rgba(228,96,68,1);  border-color: rgba(228,96,68,1); margin-top: 10px; min-width: auto; padding-left: 15px; padding-right: 15px; }

		.blog-item .btn.facebook:hover { background-color: rgba(59,89,152,0.8);  border-color: rgba(59,89,152,0.8); }
		.blog-item .btn.twitter:hover { background-color: rgba(29,161,242,0.8);  border-color: rgba(29,161,242,0.8); }
		.blog-item .btn.googleplus:hover { background-color: rgba(228,96,68,0.8);  border-color: rgba(228,96,68,0.8); }
	/* Blog item */

	/* Review */
		/* Markerting content */
			.blog-item .featurette-image{
				margin-top: 150px;
			}
			
			.blog-item .featurette-heading {
				margin-top: 150px;
			    font-size: 50px;
			    line-height: 1;
				margin-bottom: 50px;
			}

			.blog-item .lead {
				margin-bottom: 150px;
			}
		/* Markerting content */

		/* Wide content */
			.blog-item .review-background{
				position: relative;
				width: 100%;
				height: auto;
				box-sizing: border-box;
				padding: 100px 0;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			}

			.blog-item .review-background .container{
				text-align: center;
			}

			.blog-item .review-background .container > h1,
			.blog-item .review-background .container > p{
				color: #fff;
			}
		/* Wide content */
	/* Review */
/* Blog */